{% extends 'main.html' %}

{% block content %}

<div class="hero-section__search">
 <form class="form" action="{% url 'scumpire' %}" method="POST" enctype="multipart/form-data">
  <p>Introdu o valoare si un procentaj</p>
  {% csrf_token %}
  <div class="form__field">
   <label for="formInput#search">Cauta</label>
   <input class="input input--text" id="formInput#search" type="text" name="valoare" placeholder="Valoare" />
  </div>
  <br>
    <div class="form__field">
     <label for="formInput#search">Cauta</label>
     <input class="input input--text" id="formInput#search" type="text" name="procentaj" placeholder="Procentaj" />
    </div>
    <input class="btn btn--sub btn--lg" type="submit" value="Cauta" />
</form>
  {% endblock %}