{% load static %}

  <!-- Header Section -->
  <header class="header">
   <div class="container container--narrow">
    <a href="{% url 'projects' %}" class="header__logo">
     <!--<img src="{% static 'images/online-pharmacy-1-866760.png' %}" alt="DevSearch Logo" />-->
     <h1>Pharma</h1>
    </a>
    <nav class="header__nav">
     <input type="checkbox" id="responsive-menu" />
     <label for="responsive-menu" class="toggle-menu">
      <span>Menu</span>
      <div class="toggle-menu__lines"></div>
     </label>
     <ul class="header__menu">
      <li class="header__menuItem"><a href="{% url 'createMedicament' %}">Medicamente</a></li>
      <li class="header__menuItem"><a href="{% url 'createCard' %}">Card client</a></li>
      <li class="header__menuItem"><a href="{% url 'createTranzactie' %}">Tranzactii</a></li>
      <li class="header__menuItem"><a href="{% url 'projects' %}">Acasa</a></li>
      <li class="header__menuItem"><a href="{% url 'functionalitati' %}" class="btn btn--sub">Functionalitati</a></li>
     </ul>
    </nav>
   </div>
  </header>